# Pre Processing 
1. Convert coloumn object to Datetime
2. Truncate the data for concurrecy in date across stocks
3. Date order are in same order for all stocks

In [165]:
import pandas as pd
from datetime import datetime

In [166]:
DJIA = pd.read_csv("Stocks/DJIA_table.csv")
MMM = pd.read_csv("Stocks/MMM.csv")
AMEX = pd.read_csv("Stocks/AXP.csv")
APPLE = pd.read_csv("Stocks/AAPL.csv")
BOEING = pd.read_csv("Stocks/BA.csv")

# Step 1

In [167]:
# Data Types
MMM.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [168]:
print("Shape of dataframes \n 1. DJIA : {} \n 2. MMM : {} \n 3. AMEX : {} \n 4. APPLE : {} \n 5. BOEING : {} \n"
      .format(DJIA.shape, MMM.shape, AMEX.shape, APPLE.shape, BOEING.shape, ))

Shape of dataframes
 1. DJIA : (1989, 7)
 2. MMM : (2537, 7)
 3. AMEX : (2537, 7)
 4. APPLE : (2537, 7)
 5. BOEING : (2537, 7)

##### Creating consolidated dataset for all stocks
1. Truncate the data for MMM, AMEX, APPLE, BOEING to match up with DJIA
2. Reversing rows for MMM, AMEX, APPLE, BOEING to match up with DJIA

In [169]:
# Truncating
MMM = MMM.truncate(before=548)                  #  Truncating data from *-*-2006 to 07-08-2008
AMEX = AMEX.truncate(before=548)                #  Truncating data from *-*-2006 to 07-08-2008
APPLE = APPLE.truncate(before=548)              #  Truncating data from *-*-2006 to 07-08-2008
BOEING = BOEING.truncate(before=548)            #  Truncating data from *-*-2006 to 07-08-2008

In [170]:
# Saving data to csv
DJIA.to_csv("processed_data/DJIA.csv", index= False)
MMM.iloc[::-1].to_csv("processed_data/MMM.csv", index= False)
AMEX.iloc[::-1].to_csv("processed_data/AXP.csv", index= False)
APPLE.iloc[::-1].to_csv("processed_data/AAPL.csv", index= False)
BOEING.iloc[::-1].to_csv("processed_data/BA.csv", index= False)

In [171]:
print("Shape of dataframes \n 1. DJIA : {} \n 2. MMM : {} \n 3. AMEX : {} \n 4. APPLE : {} \n 5. BOEING : {} \n"
      .format(DJIA.shape, MMM.shape, AMEX.shape, APPLE.shape, BOEING.shape, ))

Shape of dataframes
 1. DJIA : (1989, 7)
 2. MMM : (1989, 7)
 3. AMEX : (1989, 7)
 4. APPLE : (1989, 7)
 5. BOEING : (1989, 7)

In [174]:
# Copy RedditNews CSV
from shutil import copyfile
copyfile("News/RedditNews.csv", "processed_data/RedditNews.csv")

'processed_data/RedditNews.csv'

# Step 2

In [175]:
DJIA = pd.read_csv("processed_data/DJIA.csv")
MMM = pd.read_csv("processed_data/MMM.csv")
AMEX = pd.read_csv("processed_data/AXP.csv")
APPLE = pd.read_csv("processed_data/AAPL.csv")
BOEING = pd.read_csv("processed_data/BA.csv")
NEWS = pd.read_csv("processed_data/RedditNews.csv")

##### Converting date object into datetime

In [177]:
DJIA['Date'] = pd.to_datetime(DJIA['Date'])
MMM['Date'] = pd.to_datetime(MMM['Date'])
AMEX['Date'] = pd.to_datetime(AMEX['Date'])
APPLE['Date'] = pd.to_datetime(APPLE['Date'])
BOEING['Date'] = pd.to_datetime(BOEING['Date'])
NEWS['Date'] = pd.to_datetime(NEWS['Date'])

# Basic Natural Language Procesing

In [178]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression

In [180]:
data = pd.read_csv('Combined_News_DJIA.csv')

In [181]:
data.head()

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,2008-08-08,0,"b""Georgia 'downs two Russian warplanes' as cou...",b'BREAKING: Musharraf to be impeached.',b'Russia Today: Columns of troops roll into So...,b'Russian tanks are moving towards the capital...,"b""Afghan children raped with 'impunity,' U.N. ...",b'150 Russian tanks have entered South Ossetia...,"b""Breaking: Georgia invades South Ossetia, Rus...","b""The 'enemy combatent' trials are nothing but...",...,b'Georgia Invades South Ossetia - if Russia ge...,b'Al-Qaeda Faces Islamist Backlash',"b'Condoleezza Rice: ""The US would not act to p...",b'This is a busy day: The European Union has ...,"b""Georgia will withdraw 1,000 soldiers from Ir...",b'Why the Pentagon Thinks Attacking Iran is a ...,b'Caucasus in crisis: Georgia invades South Os...,b'Indian shoe manufactory - And again in a se...,b'Visitors Suffering from Mental Illnesses Ban...,"b""No Help for Mexico's Kidnapping Surge"""
1,2008-08-11,1,b'Why wont America and Nato help us? If they w...,b'Bush puts foot down on Georgian conflict',"b""Jewish Georgian minister: Thanks to Israeli ...",b'Georgian army flees in disarray as Russians ...,"b""Olympic opening ceremony fireworks 'faked'""",b'What were the Mossad with fraudulent New Zea...,b'Russia angered by Israeli military sale to G...,b'An American citizen living in S.Ossetia blam...,...,b'Israel and the US behind the Georgian aggres...,"b'""Do not believe TV, neither Russian nor Geor...",b'Riots are still going on in Montreal (Canada...,b'China to overtake US as largest manufacturer',b'War in South Ossetia [PICS]',b'Israeli Physicians Group Condemns State Tort...,b' Russia has just beaten the United States ov...,b'Perhaps *the* question about the Georgia - R...,b'Russia is so much better at war',"b""So this is what it's come to: trading sex fo..."
2,2008-08-12,0,b'Remember that adorable 9-year-old who sang a...,"b""Russia 'ends Georgia operation'""","b'""If we had no sexual harassment we would hav...","b""Al-Qa'eda is losing support in Iraq because ...",b'Ceasefire in Georgia: Putin Outmaneuvers the...,b'Why Microsoft and Intel tried to kill the XO...,b'Stratfor: The Russo-Georgian War and the Bal...,"b""I'm Trying to Get a Sense of This Whole Geor...",...,b'U.S. troops still in Georgia (did you know t...,b'Why Russias response to Georgia was right',"b'Gorbachev accuses U.S. of making a ""serious ...","b'Russia, Georgia, and NATO: Cold War Two'",b'Remember that adorable 62-year-old who led y...,b'War in Georgia: The Israeli connection',b'All signs point to the US encouraging Georgi...,b'Christopher King argues that the US and NATO...,b'America: The New Mexico?',"b""BBC NEWS | Asia-Pacific | Extinction 'by man..."
3,2008-08-13,0,b' U.S. refuses Israel weapons to attack Iran:...,"b""When the president ordered to attack Tskhinv...",b' Israel clears troops who killed Reuters cam...,b'Britain\'s policy of being tough on drugs is...,b'Body of 14 year old found in trunk; Latest (...,b'China has moved 10 *million* quake survivors...,"b""Bush announces Operation Get All Up In Russi...",b'Russian forces sink Georgian ships ',...,b'Elephants extinct by 2020?',b'US humanitarian missions soon in Georgia - i...,"b""Georgia's DDOS came from US sources""","b'Russian convoy heads into Georgia, violating...",b'Israeli defence minister: US against strike ...,b'Gorbachev: We Had No Choice',b'Witness: Russian forces head towards Tbilisi...,b' Quarter of Russians blame U.S. for conflict...,b'Georgian president says US military will ta...,b'2006: Nobel laureate Aleksander Solzhenitsyn...
4,2008-08-14,1,b'All the experts admit that we should legalis...,b'War in South Osetia - 89 pictures made by a ...,b'Swedish wrestler Ara Abrahamian throws away ...,b'Russia exaggerated the death toll in South O...,b'Missile That Killed 9 Inside Pakistan May Ha...,"b""Rushdie Condemns Random House's Refusal to P...",b'Poland and US agree to missle defense deal. ...,"b'Will the Russians conquer Tblisi? Bet on it,...",...,b'Bank analyst forecast Georgian crisis 2 days...,"b""Georgia confict could set back Russia's US r...",b'War in the Caucasus is as much the product o...,"b'""Non-media"" photos of South Ossetia/Georgia ...",b'Georgian TV reporter shot by Russian sniper ...,b'Saudi Arabia: Mother moves to block child ma...,b'Taliban wages war on humanitarian aid workers',"b'Russia: World ""can forget about"" Georgia\'s...",b'Darfur rebels accuse Sudan of mounting major...,b'Philippines : Peace Advocate say Muslims nee...

In [182]:
train = data[data['Date'] < '2015-01-01']
test = data[data['Date'] > '2014-12-31']

## Text Processing

In [191]:
example = train.iloc[3,10]
print(example)

b"The commander of a Navy air reconnaissance squadron that provides the President and the defense secretary the airborne ability to command the nation's nuclear weapons has been relieved of duty"

In [192]:
example2 = example.lower()
print(example2)

b"the commander of a navy air reconnaissance squadron that provides the president and the defense secretary the airborne ability to command the nation's nuclear weapons has been relieved of duty"

In [193]:
example3 = CountVectorizer().build_tokenizer()(example2)
print(example3)

['the', 'commander', 'of', 'navy', 'air', 'reconnaissance', 'squadron', 'that', 'provides', 'the', 'president', 'and', 'the', 'defense', 'secretary', 'the', 'airborne', 'ability', 'to', 'command', 'the', 'nation', 'nuclear', 'weapons', 'has', 'been', 'relieved', 'of', 'duty']

In [194]:
pd.DataFrame([[x,example3.count(x)] for x in set(example3)], columns = ['Word', 'Count'])

              Word  Count
0        president      1
1             that      1
2        secretary      1
3          ability      1
4             duty      1
5              the      5
6             been      1
7             navy      1
8         airborne      1
9         squadron      1
10         nuclear      1
11              to      1
12  reconnaissance      1
13         command      1
14             and      1
15         weapons      1
16          nation      1
17        relieved      1
18         defense      1
19             has      1
20        provides      1
21              of      2
22             air      1
23       commander      1

## Basic Model Training and Testing

In [195]:
trainheadlines = []
for row in range(0,len(train.index)):
    trainheadlines.append(' '.join(str(x) for x in train.iloc[row,2:27]))

In [196]:
basicvectorizer = CountVectorizer()
basictrain = basicvectorizer.fit_transform(trainheadlines)
print(basictrain.shape)

(1611, 31675)

In [198]:
#  train a logistic regression model using this data.
basicmodel = LogisticRegression()
basicmodel = basicmodel.fit(basictrain, train["Label"])

In [199]:
testheadlines = []
for row in range(0,len(test.index)):
    testheadlines.append(' '.join(str(x) for x in test.iloc[row,2:27]))
basictest = basicvectorizer.transform(testheadlines)
predictions = basicmodel.predict(basictest)

In [200]:
pd.crosstab(test["Label"], predictions, rownames=["Actual"], colnames=["Predicted"])

Predicted   0    1
Actual
0          61  125
1          92  100

In [201]:
basicwords = basicvectorizer.get_feature_names()
basiccoeffs = basicmodel.coef_.tolist()[0]
coeffdf = pd.DataFrame({'Word' : basicwords, 
                        'Coefficient' : basiccoeffs})
coeffdf = coeffdf.sort_values(['Coefficient', 'Word'], ascending=[0, 1])
coeffdf.head(10)

            Word  Coefficient
19419    nigeria     0.497924
25261       self     0.452526
29286         tv     0.428011
15998      korea     0.425863
20135   olympics     0.425716
15843      kills     0.411636
26323         so     0.411267
29256       turn     0.394855
10874      fears     0.388555
28274  territory     0.384031

In [203]:
coeffdf.tail(10)

            Word  Coefficient
27299   students    -0.424441
8478         did    -0.427079
6683       congo    -0.431925
12818    hacking    -0.444069
7139     country    -0.448570
16949        low    -0.463116
3651       begin    -0.470454
25433        sex    -0.494555
24754  sanctions    -0.549725
24542        run    -0.587794

## Advance Model
n-gram

In [205]:
advancedvectorizer = CountVectorizer(ngram_range=(2,2))
advancedtrain = advancedvectorizer.fit_transform(trainheadlines)

In [206]:
print(advancedtrain.shape)

(1611, 366721)

In [207]:
advancedmodel = LogisticRegression()
advancedmodel = advancedmodel.fit(advancedtrain, train["Label"])

In [208]:
testheadlines = []
for row in range(0,len(test.index)):
    testheadlines.append(' '.join(str(x) for x in test.iloc[row,2:27]))
advancedtest = advancedvectorizer.transform(testheadlines)
advpredictions = advancedmodel.predict(advancedtest)

In [209]:
pd.crosstab(test["Label"], advpredictions, rownames=["Actual"], colnames=["Predicted"])

Predicted   0    1
Actual
0          66  120
1          45  147

In [210]:
advwords = advancedvectorizer.get_feature_names()
advcoeffs = advancedmodel.coef_.tolist()[0]
advcoeffdf = pd.DataFrame({'Words' : advwords, 
                        'Coefficient' : advcoeffs})
advcoeffdf = advcoeffdf.sort_values(['Coefficient', 'Words'], ascending=[0, 1])
advcoeffdf.head(10)

            Words  Coefficient
272047   right to     0.286533
24710   and other     0.275274
285392     set to     0.274698
316194  the first     0.262873
157511   in china     0.227943
159522   in south     0.224184
125870   found in     0.219130
124411  forced to     0.216726
173246     it has     0.211137
322590    this is     0.209239

In [211]:
advcoeffdf.tail(10)

              Words  Coefficient
326846      to help    -0.198495
118707      fire on    -0.201654
155038        if he    -0.209702
242528   people are    -0.211303
31669    around the    -0.213362
321333     there is    -0.215699
327113      to kill    -0.221812
340714        up in    -0.226289
358917    with iran    -0.227516
315485  the country    -0.331153